:root {
	/* Color */
    --secondary-txt-cl: #434455;
    --main-txt-cl: #2E2F42;

    /* Fonts */
    --primary-font: Roboto;
    --secondaty-font: Raleway

    /* Others */
}

.list {
    list-style: none;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
}

.btn {
    font-family: inherit;
}

.link {
    text-decoration: none;
}

.section {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--main-txt-cl);
}

.title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-txt-cl);
}

.desc {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-txt-cl);
}

