:root {
	/* Color */
    --secondary-txt-cl: #434455;
    --main-txt-cl: #2E2F42;
    --logo-txt-cl: #4D5AE5; 
    --main-footer-cl: #F4F4FD;


    /* Fonts */
    --primary-font: Roboto, sans-serif;
    --secondaty-font: Raleway, sans-serif;

    /* Others */
}

.list {
    list-style: none;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
}

.btn {
    font-family: inherit;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: var(--logo-txt-cl);
}

.link,
.link-logo,
.poster-position,
.poster-subtitle {
    text-decoration: none;
}

.section {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--main-txt-cl);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.desc,
.poster-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}


.link-logo {
    font-family: var(--secondaty-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-txt-cl);
}

.logo-second {
    font-family: var(--secondaty-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-footer-cl);
}

.logo-first {
    color: var();
}



.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.link-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
}

.hero,
.footer {
    width: 1440px;
    height: 200px;
    left: 61px;
    top: 80px;
    background: var(--main-txt-cl);
}

.main-title {
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-title,
.poster-subtitle {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-footer-cl);
}